<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>C Money</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>fb1041984143015659</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1041984143015659</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.creditville</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.creditville</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>ihgLdx7UN7QYiWLv6Ewg8wR0s9KYGPO-tJ1Dd</string>
	<key>FacebookAppID</key>
	<string>1041984143015659</string>
	<key>FacebookDisplayName</key>
	<string>Creditville</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app uses Camera to capture data for profile picture and documents upload</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your contacts</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This app uses Face ID to confirm your identity</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app captures your location as part of the loan application process</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app captures your location as part of the loan application process</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app captures your location as part of the loan application process</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses Camera to capture data for profile picture and documents upload</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app uses Photo Library to capture data for profile picture and documents upload</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Medium.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
