<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152967417418-9umipgmr3o2pnbvb28dt6675uoh8g7f7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152967417418-9umipgmr3o2pnbvb28dt6675uoh8g7f7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>152967417418-cn7sqpqvu0h1li6ml2j9sucne057o3e3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgcK1V7BAAkVE2WD-qD4yw6EhFz9_Fv6I</string>
	<key>GCM_SENDER_ID</key>
	<string>152967417418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ng.creditville.app</string>
	<key>PROJECT_ID</key>
	<string>creditville-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>creditville-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152967417418:ios:1ff734b6f1ccc3eae7a0b3</string>
	<key>DATABASE_URL</key>
	<string>https://creditville-mobile-app.firebaseio.com</string>
</dict>
</plist>